#AddType x-mapp-php5 .php

DirectoryIndex index.php

<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresByType image/gif A691200
	ExpiresByType image/jpg A691200
	ExpiresByType image/jpeg A691200
	ExpiresByType image/png A691200

	ExpiresByType image/x-icon A2678400
	ExpiresByType text/css A2678400
	ExpiresByType text/javascript A2678400
	ExpiresByType application/javascript A2678400
	ExpiresByType application/x-javascript A2678400
</IfModule>

FileETag none

RedirectMatch 301 /cache/(.*) /teststatus/403/$1
RedirectMatch 301 /conf/(.*) /teststatus/403/$1
RedirectMatch 301 /datas/(.*) /teststatus/403/$1
RedirectMatch 301 /docs/(.*) /teststatus/403/$1
RedirectMatch 301 /i18n/(.*) /teststatus/403/$1
RedirectMatch 301 /includes/(.*) /teststatus/403/$1

# Insert filter
SetOutputFilter DEFLATE

# Netscape 4.x has some problems...
BrowserMatch ^Mozilla/4 gzip-only-text/html

# Netscape 4.06-4.08 have some more problems
BrowserMatch ^Mozilla/4\.0[678] no-gzip

# MSIE masquerades as Netscape, but it is fine
BrowserMatch \bMSIE !no-gzip !gzip-only-text/html

# NOTE: Due to a bug in mod_setenvif up to Apache 2.0.48
# the above regex won't work. You can use the following
# workaround to get the desired effect:
BrowserMatch \bMSI[E] !no-gzip !gzip-only-text/html

# Don't compress images
SetEnvIfNoCase Request_URI \
\.(?:gif|jpe?g|png)$ no-gzip dont-vary

# Make sure proxies don't deliver the wrong content
#Header append Vary User-Agent env=!dont-vary


RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-s
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule . index.php [L]
